# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env
*.env

# Django stuff:
db.sqlite3
media/
staticfiles/

# Logs and debug files
*.log
debug.log

# Migrations (optional, usually included in repo)
**/migrations/*
!**/migrations/__init__.py

# Docker-related
docker-compose.override.yml
*.pid

# IDE / Editor files
.vscode/
.idea/
*.swp
*.swo

# System files
.DS_Store
Thumbs.db
